/**
 * Admin interface styles
 */

.placester_icon {
  background: url('../images/logo_30.png') no-repeat;
}

#placester_form .postbox .inside {
padding: 0 10px;
}

#placester_form fieldset {
	margin: 1em 0;
	background: #fdfdfd;
	padding: 0 1em 1em 1em;
	border: 1px solid #bbb;
	border-radius: 11px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
}
#placester_form fieldset legend {
	color: #999;
	padding: 0 5px;
	font-weight: bold;
}
#support_loading {
	height: 32px;
	background: url(../images/loader.gif) left center no-repeat;
	padding-left: 38px;
	line-height: 32px;
	margin: 1em 0;
	font-weight: bold;
}



.placester_contact_box_content,
.placester_settings_box_content {
  width:910px
}
.placester_contact_box_column1 {
  width:600px;
  float:left;
  clear:left;
}
.placester_contact_box_column2 {
  width:300px;
  float:left;
  font-size:11px;
  margin-top: 10px;
  margin-left:10px;
  line-height: 1.7em;
}

/**
 * Styles used by Properties page
 */
/*

/**
 * Styles used by Datatables object in Admin interface
 */

.widefat thead tr th.sorting_asc {
  background: url('../images/sort_asc.png') no-repeat center right;
}
.widefat thead tr th.sorting_desc {
  background: url('../images/sort_desc.png') no-repeat center right;
}
.widefat thead tr th.sorting {
  background: url('../images/sort_both.png') no-repeat center right;
}
.widefat thead tr th.sorting_asc_disabled {
  background: url('../images/sort_asc_disabled.png') no-repeat center right;
}
.widefat thead tr th.sorting_desc_disabled {
  background: url('../images/sort_desc_disabled.png') no-repeat center right;
}

.paging_full_numbers { 
  margin-top: 12px; 
  text-align: right;
  float: right;
  padding-bottom: 10px;
}

.dataTables_info {
  padding-top: 12px;
  float: right;
  margin-right: 10px;
  font-size: 12px;
  font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
  font-style: italic;
}

.paging_full_numbers .first,
.paging_full_numbers .last {
  display: none;
}

.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {
  text-decoration: none;
  padding: 3px 6px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid;
  margin-right: 3px;
  font-weight: bold;
  font-size: 11px;
}

.paging_full_numbers span.paginate_button {
  border-color: #E3E3E3;
  background: #EEE;
  color: #21759B;
  cursor: pointer;
}

.paging_full_numbers span.paginate_active { 
  color: #555;
  background: #DFDFDF;
  border-color: lightGrey;
  cursor: auto;
}
/*
  border: 1px solid #aaa;
  padding: 2px 5px;
  margin: 0 3px;

.paging_full_numbers span.paginate_button { 
  background-color: #ddd; 
}
.paging_full_numbers span.paginate_button:hover { 
  background-color: #ccc; 
}
.paging_full_numbers span.paginate_active { 
  background-color: #99B3FF; 
}
*/


/**
 * jQuery lightBox styles
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}