/* Styles for main customizer sidebar */
#customize-controls {
	display: none;
	width: 56px;
	overflow: visible;
	background-color: transparent;
	border-right: none;
}

#customize-controls::after {
	box-shadow: none;
}

.customize-title-span {
	font-size: 12px;
	font-weight: bold;
}

.customize-section-title {
	font-family: "Century Gothic", "Helvetica Light" !important;
	font-size: 16px !important;
	font-weight: 200 !important;
}

.customize-section-content select {
	min-width: 0px !important;
}

.customize-section-content .of-typography-size {
    width: 65px;
    margin-left: 5px;
    float: left; 
}

.customize-section-content .of-typography-face {
    width: 85px;
    margin-left: 5px;
    float: left; 
}

.customize-section-content .of-typography-style {
    width: 75px;
    margin-left: 5px;
    margin-right: 5px;
    float: left; 
}

.customize-section-content .of-color {
    clear: both;
    width: 65px !important;
    margin: 2px 0px 0px 3px !important	; 
}

.customize-control input[type=text] {
	margin: 3px 0px 15px 0px;
	width: 100% !important;
}

.custom-control {
	margin-bottom: 21px;
}

.custom-control span {
	display: block;
}

.custom-control select {
	margin: 9px 0px 0px 9px;
}

/* Integration sidebar control */
#pls_integration_form {
	padding-top: 3px;
}

#pls_integration_form select {
	margin-bottom: 18px;
	height: 36px;
	width: 100%;
}

#pls_integration_form input[type=text] {
	width: 100%;
}

.bt-green {
	background-image: linear-gradient(bottom, rgb(117,163,17) 0%, rgb(141,198,19) 80%) !important;
	background-image: -o-linear-gradient(bottom, rgb(117,163,17) 0%, rgb(141,198,19) 80%) !important;
	background-image: -moz-linear-gradient(bottom, rgb(117,163,17) 0%, rgb(141,198,19) 80%) !important;
	background-image: -webkit-linear-gradient(bottom, rgb(117,163,17) 0%, rgb(141,198,19) 80%) !important;
	background-image: -ms-linear-gradient(bottom, rgb(117,163,17) 0%, rgb(141,198,19) 80%) !important;

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(117,163,17)),
		color-stop(0.8, rgb(141,198,19))
	) !important;
	border-top:1px solid #c6e31d; border-bottom:1px solid #537607;
	color: white !important;
	text-shadow: 1px 1px #4c4c4c !important;
	clear: none !important;
}

#customize_integration_no {
	float: left;
	clear: left !important;
}

#customize_integration_submit {
	float: right;
	clear: none !important;
}

#pls_integration_form h3 {
	font-size: 15px; 
	font-weight: bold;
	color: #4c4c4c; 
	clear: both;
	margin: 25px 0px 3px 0px;
	border-top: 1px solid #b0b0b0;
	padding-top: 25px;
}

#pls_integration_form p, #pls_integration_form li {
	font-size: 15px;
	line-height: 18px;
	color: gray;
}

#pls_integration_form .elements p {
	margin: 12px 0px 3px 0px;
}

#pls_integration_form p strong {
	font-style: normal;
}

#pls_integration_form div.error h3 {
	margin: 9px 0px;
	font-weight: bold;
	border-top: none !important;
	padding-top: 0px;
}

#pls_integration_form ul {
	list-style: disc;
	margin: 15px 0;
}
#pls_integration_form ul li {
	margin-left: 15px;
}
#pls_integration_form ul li span {
	font-weight: bold;
	color: black;
}

.infobox p {
	margin-top: 10px;	
	font-style: normal !important;
}

#mls_submitted iframe {
	margin-top: 15px;
}

h3.invalid,
label.invalid {
	color: red !important;
}

input.invalid,
textarea.invalid {
	border: 1px solid red !important;
}

#rets_form_message {
	margin: 10px inherit;
	font-size: 14px;
	color: green;
	font-weight: bold;
}


/* Cleaning up jqueryUI's styles */
.ui-widget-header {
	border: none !important;
	background: none !important;
}
.ui-dialog-content {
	padding-top: 0px !important;
}
.ui-dialog-title h2 {
	margin: 5px 0 !important;
}
.ui-widget-overlay {
	opacity: 0.6 !important;
	-moz-opacity: 0.6 !important;
	filter:alpha(opacity=0.6);
}

/* Preview load indicator */
#customize-preview { 
   /* IE filter */
   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
   -moz-opacity:0.3;    /* Mozilla extension */
   -khtml-opacity:0.3;  /* Safari/Conqueror extension */
   opacity:0.3; /* CSS3 */
/*   background-color: lightgrey;*/
   margin-left: 56px;
}

/* Large screens ----------- */
/*@media only screen */
/*and (min-width : 1824px) {*/
/* Styles */
/*  #customize-preview {
  	margin-left: 375px;
  }
}*/

#preview_load_spinner {
   /*display: none;*/
   top: 42%;
   left: 48%;
   position: fixed;
   z-index: 550000;
}

/* Global modal styling */
.ui-dialog .ui-dialog-titlebar h3 {
	font-size: 22px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: normal;
	padding: 0px 0px;
	margin: 10px 0;
}
.ui-dialog .ui-dialog-content p.message {
	background-color: #FFFBCC;
	border:1px solid #E6DB55;
	color: #555;
	line-height: 19px;
	padding: 5px 0;
	text-align: center;
	font-size: 12px;
	margin: 3px 0px;
}
.ui-dialog .ui-dialog-content p {
	line-height: 17px;
	font-size: 13px;
	margin: 15px 0px;
}

.ui-dialog .ui-dialog-content a {
	text-decoration: none;
	color: #21759B;
}
.ui-dialog .ui-dialog-content a:hover {
	color: #D54E21;
}
.ui-dialog .ui-dialog-content p.large_green_button {
	text-align: center;
	font-weight: 600;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	background: #86B229;
	background: -moz-linear-gradient(top, #A0CC42 0%, #86B229 50%, #6E9910);
	background: -webkit-gradient(linear, left top, left bottom, from(#A0CC42), color-stop(0.5, #86B229), to(#6E9910));
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #6F961C;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
	font-size: 17px !important;

}
.ui-dialog .ui-dialog-content p.large_green_button span {
	display: block;
	font-size: 11px;
	font-weight: normal;
}

.ui-dialog .ui-dialog-content .red {
	color: red;
	font-weight: bold;
}
.ui-dialog .ui-dialog-content .green {
	color: green;
	font-weight: bold;
}

.ui-dialog .ui-dialog-buttonpane button {
	padding: 10px 20px;
	float: left;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	width: 100%;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:last-child {
	float: right;
	text-align: center;
	min-width: 150px;
	color: white;
	text-decoration: none;
	padding: 10px 20px;
	background: #86B229;
	background: -moz-linear-gradient(top, #A0CC42 0%, #86B229 50%, #6E9910);
	background: -webkit-gradient(linear, left top, left bottom, from(#A0CC42), color-stop(0.5, #86B229), to(#6E9910));
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #6F961C;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4), 0px 1px 0px rgba(255, 255, 255, 0.3);
}

/* Spinner */
#pane .bar1 {
  -moz-transform:rotate(0deg) translate(0, -40px);
  -webkit-transform:rotate(0deg) translate(0, -40px);
  opacity:0.12;
}
#pane .bar2 {
  -moz-transform:rotate(45deg) translate(0, -40px);
  -webkit-transform:rotate(45deg) translate(0, -40px);
  opacity:0.25;
}
#pane .bar3 {
  -moz-transform:rotate(90deg) translate(0, -40px);
  -webkit-transform:rotate(90deg) translate(0, -40px);
  opacity:0.37;
}
#pane .bar4 {
  -moz-transform:rotate(135deg) translate(0, -40px);
  -webkit-transform:rotate(135deg) translate(0, -40px);
  opacity:0.50;
}
#pane .bar5 {
  -moz-transform:rotate(180deg) translate(0, -40px);
  -webkit-transform:rotate(180deg) translate(0, -40px);
  opacity:0.62;
}
#pane .bar6 {
  -moz-transform:rotate(225deg) translate(0, -40px);
  -webkit-transform:rotate(225deg) translate(0, -40px);
  opacity:0.75;
}
#pane .bar7 {
  -moz-transform:rotate(270deg) translate(0, -40px);
  -webkit-transform:rotate(270deg) translate(0, -40px);
  opacity:0.87;
}
#pane .bar8 {
  -moz-transform:rotate(315deg) translate(0, -40px);
  -webkit-transform:rotate(315deg) translate(0, -40px);
  opacity:1;
}

#pane .spinningBars {
  position: absolute;
  top: 240px;
  left: 270px;
  width: 100px;
  height: 100px;
  margin-bottom: 1.5em;
  margin-right: 1.5em;
  -moz-border-radius: 100px;
  float: left;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -webkit-animation-name: rotateThis;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotateThis {
  from { -webkit-transform:scale(0.5) rotate(0deg); }
  to { -webkit-transform:scale(0.5) rotate(360deg); }
}

#pane .spinningBars div {
  width: 10px;
  height: 30px;
  background: #000;
  position: absolute;
  top: 35px;
  left: 45px;
}