html {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	height: 100%;
	/*padding:0px;
	margin:0px;*/
	line-height: normal !important;
}

h1 {
	margin: 0px;
	padding: 0px;
	font-size: 34px;
	font-weight: lighter;
	color: #000;
}

h2, 
#sidebar h2 {
	margin: 20px 0px 8px 0px;
	padding: 0px;
	color: #4c4c4c;
	font-size: 20px;
	font-weight: lighter;
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	margin: 0px 0px 15px 0px;
	padding: 0px;
	font-size: 18px;
	color: #909090;
	font-weight: lighter;
}

p {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: #696969;
	line-height: 20px;
}

ul#featureslist {
	list-style: none; 
	font-size: 14px; 
	color: #4c4c4c; 
	margin: 0px; 
	padding: 0px; 
	line-height: 20px; 
	overflow: hidden;
}

ul#featureslist li {
	float: left; 
	width: 130px; 
	padding: 0px 10px 0px 20px 0px; 
	margin: 8px 15px 10px 0px;
}

ul#checkboxlist {
	list-style: none; 
	color: #4c4c4c; 
	margin: 0px 0px 0px 0px; 
	padding: 0px; 
	font-size: 14px; 
	overflow: hidden;
}

ul#checkboxlist li {
	float: left; 
	width: 145px; 
	padding: 0px 0px 0px 0px; 
	margin: 5px 8px 0px 0px;
}

ul#checkboxlist li#addlink {
	margin-top: 20px; 
	clear: both;
}

ul#checkboxlist li#addlink a {
	text-decoration:none; 
	font-weight:bold; 
	color:#0c60a7;
}

ul.floatedlist {
	list-style:none; 
	overflow:hidden; 
	margin:10px 0px; 
	padding:0px;
}

ul.floatedlist li {
	float:left; 
	margin:0px 10px 0px 0px; 
	padding:0px; 
	font-size:14px;
}

#full-overlay {
	margin-left: 0px;
}

#sidebar {
	height: 100%;
}

#menu-nav {
	height: 100%;
	float: left;
	position: fixed;
	background:#f3f3f3;	
	-moz-box-shadow: inset -2px 0px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset -2px 0px 2px rgba(0,0,0,0.2);
	box-shadow: inset -2px 0px 2px rgba(0,0,0,0.2);		
}

#navlist {
margin:0px;	padding:0px;
position:relative;
width:56px;	

}

#navlist li {
	margin:0; 
	padding:0px;
	border-bottom:1px solid #b4b4b4;
	
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 0%, #ffffff 0%, #e2e2e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(0%,#ffffff), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#ffffff 0%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7db9e8 0%,#ffffff 0%,#e2e2e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7db9e8 0%,#ffffff 0%,#e2e2e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7db9e8 0%,#ffffff 0%,#e2e2e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */

	-moz-box-shadow: inset -2px 0px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset -2px 0px 1px rgba(0,0,0,0.2);
	box-shadow: inset -2px 0px 1px rgba(0,0,0,0.2);
}

#navlist li:hover {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e2e2e2 2%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#e2e2e2), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e2e2e2 2%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e2e2e2 2%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e2e2e2 2%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e2e2e2 2%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
	-moz-box-shadow: inset -2px 0px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset -2px 0px 0px rgba(0,0,0,0.2);
	box-shadow: inset -2px 0px 0px rgba(0,0,0,0.2);	
}


#navlist li, #navlist a{
	display:block;
}

#navlist li:first-child {
	border-top:0px;
}

#navlist li:last-child { 
background-image: linear-gradient(bottom, rgb(117,163,17) 0%, rgb(141,198,19) 80%);
background-image: -o-linear-gradient(bottom, rgb(117,163,17) 0%, rgb(141,198,19) 80%);
background-image: -moz-linear-gradient(bottom, rgb(117,163,17) 0%, rgb(141,198,19) 80%);
background-image: -webkit-linear-gradient(bottom, rgb(117,163,17) 0%, rgb(141,198,19) 80%);
background-image: -ms-linear-gradient(bottom, rgb(117,163,17) 0%, rgb(141,198,19) 80%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(117,163,17)),
	color-stop(0.8, rgb(141,198,19))
);
border-top:1px solid #c6e31d; border-bottom:1px solid #537607;
}

#navlist li:last-child:hover {
	background:#8cc413;
}

#navlist li:nth-last-child(2) {
	border-bottom:1px solid #537607;
}

#navlist li.active, 
#navlist li.active:hover {
	background: white; 
	-moz-box-shadow: -2px 0px 3px rgba(0,0,0,0.4);	
	-webkit-box-shadow: -2px 0px 3px rgba(0,0,0,0.4);	
	box-shadow: -2px 0px 3px rgba(0,0,0,0.4); 
	opacity: 0.9;
}

#logo a {height:50px; width:50px; background:url(../images/onboard_icons.png) -0px -498px; margin:0px 0px 0px 3px;
-webkit-transition-duration: 1.6s;
-moz-transition-duration: 1.6s;
-o-transition-duration: 1.6s;
transition-duration: 1.6s;
 
-webkit-transition-property: -webkit-transform;
-moz-transition-property: -moz-transform;
-o-transition-property: -o-transform;
transition-property: transform;
overflow:hidden;
}

#logo a:hover {
-webkit-transform:rotate(720deg);
-moz-transform:rotate(720deg); 
-o-transform:rotate(720deg);
}

#theme a {height:50px; width:50px; background:url(../images/onboard_icons.png) -0px -0px;}
#theme a:hover {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -0px;}
#theme.active a {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -0px;}

#title a {height:50px; width:50px; background:url(../images/onboard_icons.png) -0px -50px;}
#title a:hover {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -50px;}
#title.active a {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -50px;}

#colors a {height:50px; width:50px; background:url(../images/onboard_icons.png) -0px -100px;}
#colors a:hover {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -100px;}
#colors.active a {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -100px;}

#brand a {height:50px; width:50px; background:url(../images/onboard_icons.png) -0px -150px;}
#brand a:hover {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -150px;}
#brand.active a {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -150px;}

#mls a {height:50px; width:50px; background:url(../images/onboard_icons.png) -0px -200px;}
#mls a:hover {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -200px;}
#mls.active a {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -200px;}

#listing a {height:50px; width:50px; background:url(../images/onboard_icons.png) -0px -250px;}
#listing a:hover {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -250px;}
#listing.active a {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -250px;}

#post a {height:50px; width:50px; background:url(../images/onboard_icons.png) -0px -300px;}
#post a:hover {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -300px;}
#post.active a {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -300px;}

#invite a {height:50px; width:50px; background:url(../images/onboard_icons.png) -0px -350px;}
#invite a:hover {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -350px;}
#invite.active a {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -350px;}

#analytics a {height:50px; width:50px; background:url(../images/onboard_icons.png) -0px -400px;}
#analytics a:hover {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -400px;}
#analytics.active a {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -400px;}

#social a {height:50px; width:50px; background:url(../images/onboard_icons.png) -0px -450px;}
#social a:hover {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -450px;}
#social.active a {height:50px; width:50px; background:url(../images/onboard_icons.png) -50px -450px;}

#confirm { opacity: 0.3; }
#confirm a { height:50px; width:50px; background:url(../images/onboard_icons.png) -47px -500px; }

section#pane {

  /* IE 5.5+ support #BB000000 is ~70% opacity on black */
  filter:progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#ffffff, endColorstr=#ffffff
  );

  /* IE 8 support */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(
    startColorstr=#ffffff, endColorstr=#ffffff
  )";	
		
	display: none;	
	width: 520px;
	height: 100%;
	float: left;
	-moz-box-shadow: 3px -3px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px -3px 3px rgba(0,0,0,0.3);
	box-shadow: 3px -3px 3px rgba(0,0,0,0.3s);
	margin-left: 56px;
	overflow: auto;
}

section#pane .control-container {
	display: none;
	padding: 20px 30px;
	min-height: 100%;
	width: 460px;

	/* black for browsers which cannot support rgba */
	background-color: #fff;

    /* 70% opacity for supported browsers */
    background-color: rgba(255, 255, 255, 0.96);
}

div#switcher {
	clear: both;	
	margin-bottom: 20px; 
	padding: 10px 0px 15px 0px;
	height: 25px;
}

div#switcher h2 {
	float: left; 
	margin: 5px 0px 0px 0px; 
	padding: 0px;
	font-size: 20px;
}

div#switcher select,
div#propType select {
	float: right;
	height: 38px; 
	width: 65%;
	font-size: 16px;
	/*font-weight: lighter;*/
	color: gray;
}

input[type=text] {
	padding:10px; 
	margin: 5px 0px 15px 0px;
	border-radius:4px;
	-moz-border-radius:4px;
	border:1px solid #b0b0b0;
	font-size:14px;

	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);	
}

input[type="checkbox"], 
input[type="radio"] {
	vertical-align: baseline !important;
}	

label 
{
	font-size: 15px;
	font-weight: bold;
	color: #4c4c4c; 
	clear: both;
}

label span {font-size: 15px;}

input.fw {width: 100%; margin-bottom: 25px;}
input.mw {width: 240px;}
input.sw {width: 107px; margin-bottom: 25px;}
input.fr {width: 40px; float: right;}
input.cb {margin: 10px 5px 0px 1px;}
input.fl-m {margin-right: 7px;}

textarea {
	padding: 12px; 
	margin: 5px 0px 25px 0px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #b0b0b0;
	font-size: 14px;
	width: 100%; 
	min-height: 100px; 

	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);	
}

textarea.post-content {
	height: 360px;
}

textarea.css-edit-box {
	margin-top: 15px;
	height: 425px;
}

input[type=button] {
	clear:both;
	margin-top: 5px;
	border: 1px solid #cecece;
	border-radius:5px;
	-moz-border-radius:5px;
	font-weight:bold;
	text-shadow:1px 1px #f0f0f0;
	cursor:pointer;
	color:#4c4c4c;
	
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.1);
	box-shadow: 0 0 1px rgba(0,0,0,0.1);
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 4%, #f8f8f8 4%, #d4d4d4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ffffff), color-stop(4%,#f8f8f8), color-stop(100%,#d4d4d4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 4%,#f8f8f8 4%,#d4d4d4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 4%,#f8f8f8 4%,#d4d4d4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 4%,#f8f8f8 4%,#d4d4d4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 4%,#f8f8f8 4%,#d4d4d4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
}
	
input[type=button]:active {
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #f8f8f8 97%, #ffffff 97%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(97%,#f8f8f8), color-stop(97%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#f8f8f8 97%,#ffffff 97%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#f8f8f8 97%,#ffffff 97%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#f8f8f8 97%,#ffffff 97%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e5e5 0%,#f8f8f8 97%,#ffffff 97%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}	

input[type=button]:hover {
	background:#eeeeee;
	-moz-box-shadow: 0 0 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.3);
	box-shadow: 0 0 2px rgba(0,0,0,0.3);	
	
}

input.bt-norm { padding: 10px 20px; font-size: 16px; float: right; }
input.bt-inline {float:right; margin-top: 5px; padding: 10px 12px; font-size: 14px;}
input.bt-left {text-align: center; width: 224px; padding: 10px 20px; font-size: 16px; margin: 5px 0px 20px 0px;}
input.bt-right {text-align: center; width:224px; padding:10px 20px; font-size:16px; float:right; margin:5px 0px 20px 0px;}

input#submit_theme {
	clear: none;
	float: right;
	font-size: 14px;
	margin: 1px 0px 0px 10px;
	padding: 10px 10px;
}

input.bt-disabled { 
	color: #8C8C8C !important;
	opacity: 0.3;
}

input[type=button].disabled:hover {
	background: auto;

}

select {padding:10px; border:1px solid #cfcfcf; border-radius:6px; -moz-border-radius:6px; background:#fdfdfd;}
select.mw {width:240px; margin:5px 0px 15px 0px;}
select.sw {width:120px; margin:5px 0px 15px 0px;}
select.cw290 {width:280px; margin:5px 0px 15px 0px;}
select.cl {
	height: 38px;
	width: 100%;
	margin: 5px 0px 25px 0px;
	font-size: 14px;
	color: gray;
}

#fb-32, #tw-32, #ld-32, #gl-32, #fb-32-active, #tw-32-active, #ld-32-active, #gl-32-active {height:32px; width:32px; display:block;}

#fb-32-active {background:url(../images/onboard_icons.png) -59px -558px;}

#fb-32 {background:url(../images/onboard_icons.png) -59px -814px;}
#tw-32 {background:url(../images/onboard_icons.png) -59px -846px;}
#ld-32 {background:url(../images/onboard_icons.png) -59px -878px;}
#gl-32 {background:url(../images/onboard_icons.png) -59px -910px;}

#tw-32:hover {background:url(../images/onboard_icons.png) -59px -718px;}
#ld-32:hover {background:url(../images/onboard_icons.png) -59px -750px;}
#gl-32:hover {background:url(../images/onboard_icons.png) -59px -782px;}

p.inp-cmt {
	color:#909090;
	margin:-8px 0px 0px 0px;
	font-size:12px;	
}

div.theme-screenshot {
	width: 460px;
}

div.theme-screenshot img {
	max-width: 460px;
	margin: 0px auto;
	display: block;
}

/* Pagination */

div#pagination {
	border-top: 1px solid #e9e9e9;
	clear:both;
	padding:20px 0px 0px 0px;
	margin:20px 0px 20px 0px;
	overflow:hidden;
}


div#pagination a {
	display:inline-block;
	background:#efefef; 
	color:#4c4c4c; 
	text-decoration:none; 
	padding:6px 8px; 
	border:1px solid 
	#dddddd; 
	font-size:13px; 
	font-weight:bold;
	border-radius:4px;
	-moz-border-radius:4px;
	margin:0px 2px 0px 2px;
}

div#pagination a:hover {
	color:white;
	background:#3895e4;
	border:1px solid #126bb7;
}

div#pagination #center a.active {
	color:white;
	background:#3895e4;
	border:1px solid #126bb7;
}

div#pagination #center a.active:hover {
	color:white;
}

div#pagination a.prev {float: left;}
div#pagination a.next {float: right;}
div#pagination span {font-weight: bold;}


div#pagination #center {
	width:320px; 
	text-align:center; 
	float:left;
}

div#pagination #center a {
	background:none;
	border:none;
}

div#pagination #center a:hover {
	color:#3895e4;
	
}

.clearfix {
	clear:both;
}
	

div.featureicon {
 height:24px; 
 width:24px; 
 background:url(../images/onboard_icons.png) -15px -714px;
 float:left;
 margin:2px 8px 10px 0px;
}

div.featureicon:hover {
 background:url(../images/onboard_icons.png) -15px -690px;	
}

div.button-container {
	height: 45px;
}

div.lg {
	float: left;
	width: 110px;
	margin-right: 20px;
}

div.lg-cl {
	float: left;
	width: 200px;
}

div.error h3 {
	margin: 9px 0px;
	font-weight: bold;
	font-size: 15px;
	color: #4C4C4C;
	clear: both;
}

div.disclaimer {
	float: left; 
	font-size: 13px;
	width: 300px;
	font-style: italic;
	color: gray;
	padding-top: 21px;
	line-height: 18px;
}

div#welcome-overlay {
	opacity: 0;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .5;
	z-index: 50;
}

div#menu-overlay {
	position: fixed;
	height: 100%;
	width: 56px;
	z-index: 50;
}

a.ico-responsive {
	height: 24px;
	width: 24px;
	display: block;
	background: url(../images/onboard_icons.png) -15px -743px;		
}

a.toggle-display {
	float: right;
	font-size: 14px;
}

a.wizard-next {
	position: fixed;
	top: 15px;
	left: 445px;
	font-size: 13px;
}

.tip {
	display: none;
	background: #f7f7f7;
	border: 1px solid #f5f5f5;
	padding: 14px 14px 12px 18px;
	border-radius: 6px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	position: relative;
	width: 300px;
	z-index: 100;
}

.tip h4 {
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-size: 20px;
	color: #4c4c4c;
	font-weight: lighter;
}

.tip p.desc {
	font-size: 13px;
	color: #696969;
	line-height: 18px;
	margin: 5px 0px 5px 0px;	
}

.tip p.link a {
	text-decoration: none;
	color: #0c60a7;
	font-weight: bold;
	font-size: 13px;
	margin: 0px;
}

.tip p.link a:hover {
	text-decoration: underline;
}

.tip a.close {
	display: none;
	height: 27px;
	width: 27px;
	background: url(../images/onboard_icons.png) -13px -656px;
	position: absolute;
	right: -11px;
	top: -11px;
}

/* tooltip arrow (using :before and :after) -- add/remove .arrow class to toggle its visibility */
.arrow:before {
	position: absolute;
	display: inline-block;
	border-top: 8px solid transparent;
	border-right: 8px solid #eee;
	border-bottom: 8px solid transparent;
	border-right-color: rgba(0, 0, 0, 0.2);
	left: -9px;
	top: 22px;
	content: '';
}

.arrow:after {
	position: absolute;
	display: inline-block;
	border-top: 8px solid transparent;
	border-right: 8px solid #f7f7f7;
	border-bottom: 8px solid transparent;
	left: -8px;
	top: 21px;
	content: '';
}

.radio {
	margin:0px 5px 10px 0px;
	padding:0px 0px 0px 4px;
}

.radio label {
	margin-right:10px;
	font-size:14px;
}
