/* General Blog */
#main_content {
    h2 {
        font-size: 30px;    
        margin: 0px;
        padding: 0px;
    }
}
article {
    &.post {
        border-bottom: 1px solid #DBDBDB;
    }
    h2 {
        font-size: 30px;    
        margin: 0px;
        padding: 0px;
    }
    p, ol {
        margin: 25px 0;
        line-height: 1.4;
        font-size: 16px;
        color: #666;
        &.blog-meta {
            font-size: 14px;
        }
    }
    header {
        font-size: 12px;
        color: #888;
        a {
            @include blue-hover;
        }
        h3 {
            font-size: 24px;
        }
    }
    a {
        color: #2793E5;
        text-decoration: none;
    }
    h3 {
        margin: 20px 0 0 0;
        a {
            color: black;
            &:hover {
                color: #1982D1;
                background-color: inherit !important;
            }
        }
    }
    .wp-caption, .gallery-item, .attachment{
        a {
            &:hover {
                background-color: inherit !important;
            }
        }
        .wp-caption-text {
            font-size: 12px;
            margin: 0 0 10px 0;
            text-align: center;
        }
    }
    img {
        margin: 20px 0px;
        @include image-outline;
    }
    .entry-meta {
        clear: both;
        a.more-link {
            float: right;
        }
    }
    .outline {
        border: 1px solid #DBDBDB;
    }
    nav {
        .prev {
            float: left;
            text-align: left;
        }
        .next {
            float: right;
            text-align: right;
        }
        div {
            padding: 20px 0;
            a {
                @include grey-button;
            }
        }

    }
    footer {
        color: #888;
        font-size: 14px;
        padding-bottom: 35px;
        line-height: 1.2;
        a { 
            color: #2793e5;
        }
    }
    .comment-list {
        list-style: none;
        margin: 10px 0 0 0;
        width: 95%;
        padding: 15px;
        background: #F6F6F6;
        border: 1px solid #DDD;
        float: left;
        @include rounded-corners;
        p {
          font-size: 10pt;
          clear: both;
        }
        li {
            float: left;
            margin: 0;
            padding: 20px 0 0;
            position: relative;
            list-style-type: none;
            width: inherit;
        }
        .avatar {
            border-radius: 3px;
            -webkit-box-shadow: 0 1px 2px #ccc;
            -moz-box-shadow: 0 1px 2px #ccc;
            box-shadow: 0 1px 2px #ccc;
            padding: 0;
            float: left;
            top: 0;
            margin: 0 10px 10px 0;
        }
        .comment {
            .comment-meta, .comment-author,  {
                font-size: 12px;
                .comment-edit-link {
                    background: #EEE;
                    @include rounded-corners;
                    color: #666;
                    float: right;
                    font-size: 12px;
                    line-height: 1.5em;
                    font-weight: 300;
                    text-decoration: none;
                    padding: 0 8px;
                }
            }
        }
    }
    #respond {
        width: 95%;
        float: left;
        clear: both;
        form {
            float: left;
            width: 100%;
            margin-top: 10px;
            padding: 15px;
            background: #F6F6F6;
            @include rounded-corners;
            border: 1px solid #DDD;
        }
        .logged-in-as {
            margin: 5px inherit;
            font-size: 12px;
        }
        .comment-form-comment {
            label {
                margin-right: 20px;
            }
        }
        .form-allowed-tags {
            display: none;
        }
        .form-submit {
            input {
                padding: 10px 5px;
                float: right;
            }
        }
    }
    // Utility stuff
    .size-full {
        max-width: 97.5%;
        width: auto;
    }
    .aligncenter {
        margin: inherit 0px;
        width: auto;
        clear: both;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .alignleft {
        margin: 20px 20px 20px 0;
        display: inline;
        float: left;
    }
    .alignright {
        margin: 20px 0 20px 20px;
        display: inline;
        float: right;
    }
}

// WordPress Requirements
.sticky {
  margin: inherit
}
.gallery-caption {
  margin: inherit
}
.bypostauthor {
  margin: inherit
}