/* BLUE */
body {background: #e1e7e9;}
h1, h2, h3, h4, h5 {color: #5394d6;}
h1#address-title {color: #5394d6 !important;}
h3.section-title {color: #5394d6; border-bottom: 1px dotted #909090;}
#tagline {color: #5394d6;}
aside section p a {color: #5394d6;}
aside #price-section {border-bottom: 1px dotted; border-top: 1px dotted;}

#slideshow {border: 1px solid #5394d6;}
#gallery li {border: 1px solid #5394d6;}

aside section p.agent-name {color: #787D71;}
.text-bold {color: #787D71;}
p#powered-by-placester {color: #787d71;}

p#powered-by-placester a, p#powered-by-placester a:visited {color: #5394d6;}
#agent-header p a {color: #5394d6;}