/* BROWN */
body {background: #f2eee3;}
h1, h2, h3, h4, h5 {color: #866d40;}
h1#address-title {color: #866d40!important;}
h3.section-title {color: #866d40; border-bottom: 1px dotted #909090;}
#tagline {color: #866d40;}
aside section p a {color: #df9815;}
aside #price-section {border-bottom: 1px dotted; border-top: 1px dotted;}

#slideshow {border: 1px solid #866d40;}
#gallery li {border: 1px solid #866d40;}

aside section p.agent-name {color: #866d40;}
.text-bold {color: #866d40;}
p#powered-by-placester {color: #866d40;}

p#powered-by-placester a, p#powered-by-placester a:visited {color: #df9815;}
#agent-header p a {color: #df9815;}