/* GRAY */
body {background: #f4f4f4;}
h1, h2, h3, h4, h5 {color: #000;}
h1#address-title {color: #000 !important;}
h3.section-title {color: #000; border-bottom: 1px dotted #909090;}
#tagline {color: #000;}
aside section p a {color: #909090;}
aside #price-section {border-bottom: 1px dotted; border-top: 1px dotted;}

#slideshow {border: 1px solid #000;}
#gallery li {border: 1px solid #000;}

aside section p.agent-name {color: #000;}
.text-bold {color: #000;}
p#powered-by-placester {color: #000;}

p#powered-by-placester a, p#powered-by-placester a:visited {color: #909090;}
#agent-header p a {color: #909090;}