/* GREEN */
body {background: #dce2d9;}
h1, h2, h3, h4, h5 {color: #4ca520;}
h1#address-title {color: #4ca520!important;}
h3.section-title {color: #4ca520; border-bottom: 1px dotted #909090;}
#tagline {color: #4ca520;}
aside section p a {color: #4ca520;}
aside #price-section {border-bottom: 1px dotted; border-top: 1px dotted;}

#slideshow {border: 1px solid #4ca520;}
#gallery li {border: 1px solid #4ca520;}

aside section p.agent-name {color: #787D71;}
.text-bold {color: #787D71;}
p#powered-by-placester {color: #787d71;}

p#powered-by-placester a, p#powered-by-placester a:visited {color: #4ca520;}
#agent-header p a {color: #4ca520;}