/* RED */
body {background: #ede6e6;}
h1, h2, h3, h4, h5 {color: #d60f0f;}
h1#address-title {color: #d60f0f!important;}
h3.section-title {color: #d60f0f; border-bottom: 1px dotted #909090;}
#tagline {color: #d60f0f;}
aside section p a {color: #d60f0f;}
aside #price-section {border-bottom: 1px dotted; border-top: 1px dotted;}

#slideshow {border: 1px solid #d60f0f;}
#gallery li {border: 1px solid #d60f0f;}

aside section p.agent-name {color: #787D71;}
.text-bold {color: #787D71;}
p#powered-by-placester {color: #787d71;}

p#powered-by-placester a, p#powered-by-placester a:visited {color: #4ca520;}
#agent-header p a {color: #d60f0f;}