/* Blue */

body {background: #eef5f9 !important;}
a#site-title {color: #447294 !important;}
p#header-phone {color: #447294 !important;}
.pls_inner a:hover {color: red !important;}
input[type=submit] {background: #447294 !important; box-shadow: 0 0 0 1px #294052 !important; border-top: 1px solid #b6b6b6 !important;}
#search-subscribe #search-bar {background: #eef5f9 !important;}
#search-label {background: #f6f6f6 !important;}