/* Brown */

.basic-post-home, .basic-listing-home {background: #fff !important;}
body {background: #efece1 !important;}
#pls_container {background: #efece1 !important;}
body.home #slideshow {background: none !important;}
a#site-title {color: #866d40 !important;}
p#header-phone {color: #866d40 !important;}
.pls_inner a:hover {color: red !important;}
input[type=submit] {background: #866d40 !important; box-shadow: 0 0 0 1px #63502f !important; border-top: 1px solid #a5a5a5 !important;}
#search-subscribe #search-bar {background: #f6f6f6 !important;}
#search-label {background: #fff !important;}