/* Green */

body {background: #eff3ec !important;}
a#site-title {color: #397249 !important;}
p#header-phone {color: #397249 !important;}
.pls_inner a:hover {color: #397249 !important;}
input[type=submit] {background: #628b61 !important; box-shadow: 0 0 0 1px #397249 !important; border-top: 1px solid #5eb777 !important;}
#search-subscribe #search-bar {background: #f6f6f6 !important;}
#search-label {background: #fff !important;}