/* Red */

.basic-post-home, .basic-listing-home {background: #fff !important;}
#pls_container {background: #fdf9f9 !important;}
body.home #slideshow {background: none !important;}
body {background: #ece6e6 !important;}
a#site-title {color: #e75640 !important;}
p#header-phone {color: #e75640 !important;}
.pls_inner a:hover {color: #e75640 !important;}
input[type=submit] {background: #e75640 !important; box-shadow: 0 0 0 1px #9b392b !important; border-top: 1px solid #ff8a78 !important;}
#search-subscribe #search-bar {background: #f6f6f6 !important;}
#search-label {background: #fff !important;}