/* Teal */

body {background: #f6fafa !important;}
a#site-title {color: #90a7a4 !important;}
p#header-phone {color: #90a7a4 !important;}
.pls_inner a:hover {color: #397249 !important;}
input[type=submit] {background: #90a7a4 !important; box-shadow: 0 0 0 1px #4d5a59 !important; border-top: 1px solid #b8c7c5 !important;}
#search-subscribe #search-bar {background: #f6fafa !important;}
#search-label {background: #fff !important;}