/* BROWN */

body {
background: #f6f4ec;
}

header h1 a, header h1 a:visited, footer .logo h1 a {
color: #4d3e23;
}

footer {opacity: 100%;}
footer .logo p {color: #000;}
footer .phone p a {color: #000;}
footer .phone p a {color: #000;}

nav.primary {
border:1px solid #4d3e23;
background: #c1955e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxOTU1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NjZkNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #c1955e 0%, #866d40 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1955e), color-stop(100%,#866d40)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c1955e 0%,#866d40 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c1955e 0%,#866d40 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c1955e 0%,#866d40 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c1955e 0%,#866d40 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1955e', endColorstr='#866d40',GradientType=0 ); /* IE6-8 */
}

nav.primary ul li a {
border-left: 1px solid #4d3e23; 
border-right: 1px solid #be9b5b;
}

nav.primary ul li a:hover {
background: #866d40; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg2NmQ0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMTk1NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #866d40 0%, #c1955e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#866d40), color-stop(100%,#c1955e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #866d40 0%,#c1955e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #866d40 0%,#c1955e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #866d40 0%,#c1955e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #866d40 0%,#c1955e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#866d40', endColorstr='#c1955e',GradientType=0 ); /* IE6-8 */
}

aside section.placester_contact, aside .widget {
background: #f1f1f1;
border: 1px solid #e5e5e5;
}

section.list-unit .lu-right a.details {
border: 1px solid #4d3e23;
background: #c1955e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxOTU1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NjZkNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #c1955e 0%, #866d40 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1955e), color-stop(100%,#866d40)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c1955e 0%,#866d40 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c1955e 0%,#866d40 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c1955e 0%,#866d40 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c1955e 0%,#866d40 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1955e', endColorstr='#866d40',GradientType=0 ); /* IE6-8 */
}

section.list-unit .lu-right a.details:hover {
background: #866d40; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg2NmQ0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMTk1NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #866d40 0%, #c1955e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#866d40), color-stop(100%,#c1955e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #866d40 0%,#c1955e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #866d40 0%,#c1955e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #866d40 0%,#c1955e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #866d40 0%,#c1955e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#866d40', endColorstr='#c1955e',GradientType=0 ); /* IE6-8 */
}

.orbit-caption {
background: #000 !important;
}

.orbit-caption a p, .orbit-caption a:visited p {
color: #E0642A !important;
}

.orbit-caption a.details-bt {
border: 1px solid #4d3e23;
color: #fff;
background: #c1955e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxOTU1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NjZkNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #c1955e 0%, #866d40 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1955e), color-stop(100%,#866d40)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c1955e 0%,#866d40 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c1955e 0%,#866d40 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c1955e 0%,#866d40 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c1955e 0%,#866d40 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1955e', endColorstr='#866d40',GradientType=0 ); /* IE6-8 */
}

aside section.placester_contact .common-side-cont input[type="submit"], aside .widget.widget-pls-quick-search input#search {
border: 1px solid #4d3e23;

background: #c1955e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxOTU1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NjZkNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #c1955e 0%, #866d40 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1955e), color-stop(100%,#866d40)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c1955e 0%,#866d40 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c1955e 0%,#866d40 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c1955e 0%,#866d40 100%); /* IE10+ */
background: linear-gradient(to bottom,  #c1955e 0%,#866d40 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1955e', endColorstr='#866d40',GradientType=0 ); /* IE6-8 */
}

aside section.placester_contact .common-side-cont input[type="submit"]:hover, aside .widget.widget-pls-quick-search input#search:hover {
background: #866d40; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg2NmQ0MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMTk1NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #866d40 0%, #c1955e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#866d40), color-stop(100%,#c1955e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #866d40 0%,#c1955e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #866d40 0%,#c1955e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #866d40 0%,#c1955e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #866d40 0%,#c1955e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#866d40', endColorstr='#c1955e',GradientType=0 ); /* IE6-8 */
}

aside .widget.widget-pls-quick-search h3 {
color: #000;
}