/* GREEN */

body {
background: #e8e9e6;
}

header h1 a, header h1 a:visited, footer .logo h1 a {
color: #4EA622
}

nav.primary {
background: #8ecf3f; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlY2YzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZWE2MjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #8ecf3f 0%, #4ea622 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ecf3f), color-stop(100%,#4ea622)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8ecf3f 0%,#4ea622 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8ecf3f 0%,#4ea622 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8ecf3f 0%,#4ea622 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8ecf3f 0%,#4ea622 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ecf3f', endColorstr='#4ea622',GradientType=0 ); /* IE6-8 */
}

nav.primary ul li a {
border-left: 1px solid #3c8619; 
border-right: 1px solid #5dcd28;
}

nav.primary ul li a:hover {
background: #4ea622; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlYTYyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZWNmM2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #4ea622 0%, #8ecf3f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ea622), color-stop(100%,#8ecf3f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4ea622 0%,#8ecf3f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4ea622 0%,#8ecf3f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4ea622 0%,#8ecf3f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4ea622 0%,#8ecf3f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ea622', endColorstr='#8ecf3f',GradientType=0 ); /* IE6-8 */
}

aside section.placester_contact, aside .widget {
background: #f1f1f1;
border: 1px solid #e5e5e5;
}

.orbit-caption {
background: #000 !important;
}

.orbit-caption a p, .orbit-caption a:visited p {
color: #5dcd28 !important;
}

aside .widget.widget-pls-quick-search h3 {
color: #000;
}