/* ORANGE */

body {
background: #2e2a29;
}

div.inner {
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}

header h1 a, header h1 a:visited, footer .logo h1 a {
color: #E0642A;
}

footer {opacity: 100%;}
footer .logo p {color: #fff;}
footer .phone p a {color: #fff;}

nav.primary {
background: #fd732e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkNzMyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMDY0MmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fd732e 0%, #e0642a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd732e), color-stop(100%,#e0642a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fd732e 0%,#e0642a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fd732e 0%,#e0642a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fd732e 0%,#e0642a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fd732e 0%,#e0642a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd732e', endColorstr='#e0642a',GradientType=0 ); /* IE6-8 */
}

nav.primary ul li a {
border-left: 1px solid #361516; 
border-right: 1px solid #ff732c;
}

nav.primary ul li a:hover {
background: #e0642a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNjQyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZDczMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e0642a 0%, #fd732e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0642a), color-stop(100%,#fd732e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e0642a 0%,#fd732e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e0642a 0%,#fd732e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e0642a 0%,#fd732e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e0642a 0%,#fd732e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0642a', endColorstr='#fd732e',GradientType=0 ); /* IE6-8 */

}

nav.primary ul li a:hover {
background: #e0642a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNjQyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZDczMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e0642a 0%, #fd732e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0642a), color-stop(100%,#fd732e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e0642a 0%,#fd732e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e0642a 0%,#fd732e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e0642a 0%,#fd732e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e0642a 0%,#fd732e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0642a', endColorstr='#fd732e',GradientType=0 ); /* IE6-8 */
}

aside section.placester_contact, aside .widget {
background: #f1f1f1;
border: 1px solid #e5e5e5;

}

section.list-unit .lu-right a.details {
border: 1px solid #E0642A;

background: #fd732e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkNzMyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMDY0MmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fd732e 0%, #e0642a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd732e), color-stop(100%,#e0642a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fd732e 0%,#e0642a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fd732e 0%,#e0642a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fd732e 0%,#e0642a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fd732e 0%,#e0642a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd732e', endColorstr='#e0642a',GradientType=0 ); /* IE6-8 */
}

section.list-unit .lu-right a.details:hover {
background: #e0642a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNjQyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZDczMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e0642a 0%, #fd732e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0642a), color-stop(100%,#fd732e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e0642a 0%,#fd732e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e0642a 0%,#fd732e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e0642a 0%,#fd732e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e0642a 0%,#fd732e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0642a', endColorstr='#fd732e',GradientType=0 ); /* IE6-8 */
}

.orbit-caption {
background: #000 !important;
}

.orbit-caption a p, .orbit-caption a:visited p {
color: #E0642A !important;
}

.orbit-caption a.details-bt {
border: 1px solid #361516;
color: #fff;

background: #fd732e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkNzMyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMDY0MmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fd732e 0%, #e0642a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd732e), color-stop(100%,#e0642a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fd732e 0%,#e0642a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fd732e 0%,#e0642a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fd732e 0%,#e0642a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fd732e 0%,#e0642a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd732e', endColorstr='#e0642a',GradientType=0 ); /* IE6-8 */
}

aside section.placester_contact .common-side-cont input[type="submit"], aside .widget.widget-pls-quick-search input#search {
border: 1px solid #E0642A;

background: #fd732e; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkNzMyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMDY0MmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fd732e 0%, #e0642a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fd732e), color-stop(100%,#e0642a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fd732e 0%,#e0642a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fd732e 0%,#e0642a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fd732e 0%,#e0642a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fd732e 0%,#e0642a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd732e', endColorstr='#e0642a',GradientType=0 ); /* IE6-8 */
}

aside section.placester_contact .common-side-cont input[type="submit"]:hover, aside .widget.widget-pls-quick-search input#search:hover {
background: #e0642a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNjQyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZDczMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e0642a 0%, #fd732e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0642a), color-stop(100%,#fd732e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e0642a 0%,#fd732e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e0642a 0%,#fd732e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e0642a 0%,#fd732e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e0642a 0%,#fd732e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0642a', endColorstr='#fd732e',GradientType=0 ); /* IE6-8 */
}

aside .widget.widget-pls-quick-search h3 {
color: #000;
}