/* --------- TEAL --------- */

/* BASE */
body {background: #efefef;}
div[id="top-bg"] {background-color: #429392; !important;}
nav[class="primary"] ul li a:hover {
background: #295d5c!important;}
.inner {border-color: #295d5c!important;}

/* HEADER */
header #contact {background: #295d5c!important;}
header #contact p.email a {color: #fff !important;}
header #slogan h1 a {color: #fff !important;}
header #slogan h2 {color: #fff !important; border-bottom: none;}
h3, .inner h2 {color: #000 !important; border-color: #f4f4f4 !important;}

/* SIDEBAR BOXES */
aside .placester_contact .common-side-cont, div[id="form-container"] {background: #429392;}
.pls-listings .featured-slot a {color: #429392 !important;}
.pls-listings .featured-slot img {border: 0px !important;}

/* CAROUSEL */
.orbit-caption a {color: #fff !important;}

/* LISTING */
section.lu-left img, section.agent img, section.recent img {border: 0px;}
section[class="lu-right"] .lu-price p.price {background: #429392!important}
section[class="list-unit"] .lu-right p.area {color: #909090 !important;}
section[class="lu-right"] .lu-address h4 a {color: #429392 !important}
section[class="list-unit"] .lu-right {border-color: #429392!important;}

/* BUTTONS */

/* FOOTER */ 
footer p#copyright {background: #295d5c!important;}
div[id="container"] {border-color: #295d5c!important;}
footer #footer-logo h2 {border: 0px;}