#pl-previewer-metabox-id {
  min-height: 350px; }

.iframe-link, .shortcode-link {
  margin-top: 8px;
  padding: 0 10px 0 4px; }

.inside strong {
  color: #777;
  padding-right: 3px; }

#preview-wrapper {
  position: fixed;
  /* right: 0px; */ }

#pl-previewer-metabox-id {
  position: fixed;
  width: 278px; }

#preview-meta-widget {
  width: 250px;
  height: 250px;
  border: 1px solid gray;
  overflow: hidden;
  margin-left: 4px;
  margin-top: 9px; }

#pl-controls-metabox-id {
  min-height: 430px; }

.pl_template_block {
  width: 400px; }

#pl_location_tax {
  clear: both; }

#widget-meta-wrapper .shortcode_container input.save_snippet {
  font-weight: normal;
  color: #464646;
  background: #21759b url(../images/button-grad.png) repeat-x scroll left top;
  text-shadow: none; }

#widget-meta-wrapper section h3 {
  font-size: 14px;
  padding-left: 0; }

#minor-publishing-actions,
#edit-slug-box,
div.wrap a.add-new-h2,
.misc-pub-section,
.misc-pub-section a.edit-timestamp {
  display: none; }

.misc-pub-section.curtime {
  display: block; }

#pl_static_listing_block {
  clear: both; }

#post_types_list {
  width: 400px;
  margin: 15px 3px; }
  #post_types_list a {
    line-height: 19px;
    vertical-align: top;
    margin: 0px 5px; }
  #post_types_list .post_types_list_wrapper span {
    font-size: 1.5em;
    color: #464646; }
  #post_types_list .post_types_list_wrapper span.pl_type_separator {
    font-size: 12px;
    line-height: 19px;
    vertical-align: top; }
  #post_types_list .selected_type {
    line-height: 20px;
    font-weight: bold; }

#message a {
  display: none; }

#pl-review-wrapper {
  text-align: center;
  padding-top: 10px; }

/*
@media screen and ($width-name : $target-width) {
   #preview-wrapper {
	position: static;
	float: left;
   }
} */
#general_widget_zoning_types {
  display: none; }

#general_widget_purchase_types {
  display: none; }

#general_widget_pl_template_before_block label,
#general_widget_pl_template_after_block label {
  display: block;
  margin-bottom: 5px; }

/* frontend */
#full-search .form-grp:first-child {
  margin-top: 0px; }

.pls_embedded_widget_wrapper .pls_search_form_listings {
  margin-bottom: 0px; }
