/* Blue */

body {background: #eef5f9 !important;}
footer.full-width-page-footer {background: #447294 !important;}
div#copy-right {color: #fff !important;}
footer.full-width-page-footer a {color: #fff !important;}
nav.main-nav {margin-top: 40px !important;}
#header-membership {background: #294052 !important; color: #fff !important;}
#header-membership a {color: #f8f8f8!important;}
.full-width-home-content, .full-width-listing-page {background: #dbe3e8 !important; color: #000 !important;}
h1#site-title a {color: #447294 !important;}
#home-featured-listings h2 {color: #447294 !important;}