/* BROWN */

body {background: #f6f4ec !important;}
footer.full-width-page-footer {background: #f6f4ec !important;}
nav.main-nav {margin-top: 40px !important;}
#header-membership {background: #fff !important;}
.full-width-home-content, .full-width-listing-page {background: #e9e6d8 !important; color: #fff !important;}