/* Green */

body {background: #eff3ec !important;}
footer.full-width-page-footer {background: #397249 !important;}
div#copy-right {color: #fff !important;}
footer.full-width-page-footer a {color: #fff !important;}
nav.main-nav {margin-top: 40px !important;}
#header-membership {background: #397249 !important; color: #fff !important;}
#header-membership a {color: #f8f8f8 !important;}
.full-width-home-content, .full-width-listing-page {background: #eff3ec !important; color: #000 !important;}
h1#site-title a {color: #397249 !important;}
#home-featured-listings h2 {color: #397249 !important;}