/* Orange */

body {background: #fbfbfb !important;}
footer.full-width-page-footer {background: #3d3d3d !important; color: #fff !important;}
footer.full-width-page-footer a {color: #fff !important;}
nav.main-nav {margin-top: 40px !important;}
#header-membership {background: #f1712c !important; color: #fff !important;}
#header-membership a {color: #ececec !important;}
.full-width-home-content, .full-width-listing-page {background: #fbfbfb !important; color: #000 !important;}
h1#site-title a {color: #f1712c !important;}
#home-featured-listings h2 {color: #f1712c !important;}