/* BLUE */
 
body {background: #eef5f9 !important;}
 
.header-membership {
background: #e7edf1 !important;
box-shadow: none !important;
border-bottom: 2px solid #dce4e9 !important;
}
 
.header-membership a {
color: #909090 !important; 
text-shadow: none !important
}
 
h1#site-title a {
color: #447294 !important;
}
 
header nav#main-nav {
background: #5596ba !important; /* Old browsers */
background: -moz-linear-gradient(top,  #5596ba 0%, #447294 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5596ba), color-stop(100%,#447294)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5596ba 0%,#447294 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5596ba 0%,#447294 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5596ba 0%,#447294 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #5596ba 0%,#447294 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5596ba', endColorstr='#447294',GradientType=0 ); /* IE6-9 */

}
 
#t-header-container .home-search-container #header-top-search::before {
background: #5596ba !important; /* Old browsers */
background: -moz-linear-gradient(top,  #5596ba 0%, #447294 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5596ba), color-stop(100%,#447294)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5596ba 0%,#447294 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5596ba 0%,#447294 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5596ba 0%,#447294 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #5596ba 0%,#447294 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5596ba', endColorstr='#447294',GradientType=0 ); /* IE6-9 */
}
 
input.button-primary {
background: #5596ba !important; /* Old browsers */
background: -moz-linear-gradient(top,  #5596ba 0%, #447294 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5596ba), color-stop(100%,#447294)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5596ba 0%,#447294 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5596ba 0%,#447294 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5596ba 0%,#447294 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #5596ba 0%,#447294 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5596ba', endColorstr='#447294',GradientType=0 ); /* IE6-9 */
 
border:1px solid #294052 !important;
}
 
input.button-primary:hover {
background: #447294 !important;
}
 
footer {
background: #e7edf1 !important;
}