/* GREEN */
 
body {background: #eff3ec !important;}
 
.header-membership {
background: #fff !important;
box-shadow: none !important;
border-bottom: 2px solid #e5e9e3 !important;
}
 
.header-membership a {
color: #909090 !important; 
text-shadow: none !important
}
 
h1#site-title a {
color: #397249 !important;
}
 
header nav#main-nav {
background: #7aad79 !important; /* Old browsers */
background: -moz-linear-gradient(top,  #7aad79 0%, #397249 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7aad79), color-stop(100%,#397249)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7aad79 0%,#397249 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7aad79 0%,#397249 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7aad79 0%,#397249 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #7aad79 0%,#397249 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aad79', endColorstr='#397249',GradientType=0 ) !important; /* IE6-9 */
}
 
#t-header-container .home-search-container #header-top-search::before {
background: #7aad79 !important; /* Old browsers */
background: -moz-linear-gradient(top,  #7aad79 0%, #397249 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7aad79), color-stop(100%,#397249)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7aad79 0%,#397249 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7aad79 0%,#397249 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7aad79 0%,#397249 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #7aad79 0%,#397249 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aad79', endColorstr='#397249',GradientType=0 ) !important; /* IE6-9 */
}
 
input.button-primary {
background: #7aad79 !important; /* Old browsers */
background: -moz-linear-gradient(top,  #7aad79 0%, #397249 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7aad79), color-stop(100%,#397249)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7aad79 0%,#397249 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7aad79 0%,#397249 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7aad79 0%,#397249 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #7aad79 0%,#397249 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7aad79', endColorstr='#397249',GradientType=0 ) !important; /* IE6-9 */
 
border:1px solid #23472d !important;
}
 
input.button-primary:hover {
background: #628b61 !important;
}

footer {
background: #e4e8e1 !important;
}