/* ORANGE */
 
body {background: #fdfdfd !important;}
 
.header-membership {
background: #fff !important;
box-shadow: none !important;
border-bottom: 2px solid #eeeeee !important;
}
 
.header-membership a {
color: #909090 !important; 
text-shadow: none !important
}
 
h1#site-title a {
color: #f1712c !important;
}
 
header nav#main-nav {
background: #f2722d !important; /* Old browsers */
background: -moz-linear-gradient(top,  #f2722d 0%, #de6423 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2722d), color-stop(100%,#de6423)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2722d 0%,#de6423 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2722d 0%,#de6423 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2722d 0%,#de6423 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2722d 0%,#de6423 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2722d', endColorstr='#de6423',GradientType=0 ) !important; /* IE6-9 */
}
 
#t-header-container .home-search-container #header-top-search::before {
background: #f2722d !important; /* Old browsers */
background: -moz-linear-gradient(top,  #f2722d 0%, #de6423 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2722d), color-stop(100%,#de6423)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2722d 0%,#de6423 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2722d 0%,#de6423 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2722d 0%,#de6423 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2722d 0%,#de6423 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2722d', endColorstr='#de6423',GradientType=0 ) !important; /* IE6-9 */
}
 
input.button-primary {
background: #f2722d !important; /* Old browsers */
background: -moz-linear-gradient(top,  #f2722d 0%, #de6423 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2722d), color-stop(100%,#de6423)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2722d 0%,#de6423 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2722d 0%,#de6423 100%) !important; /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2722d 0%,#de6423 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2722d 0%,#de6423 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2722d', endColorstr='#de6423',GradientType=0 ) !important; /* IE6-9 */
 
border:1px solid #be561f !important;
}