/* RED */
 
body {background: #8b1908 !important;}
 
.header-membership {
background: #5f1206 !important;
box-shadow: none !important;
border-bottom: 2px solid #3d0b04 !important;
}
 
.header-membership a {
color: #fff !important; 
text-shadow: none !important
}
 
h1#site-title a {
color: #CE3723 !important;
}
 
header nav#main-nav {
background: #f43029 !important; /* Old browsers */
background: -moz-linear-gradient(top,  #f43029 0%, #ce3723 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f43029), color-stop(100%,#ce3723)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f43029 0%,#ce3723 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f43029 0%,#ce3723 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f43029 0%,#ce3723 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #f43029 0%,#ce3723 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43029', endColorstr='#ce3723',GradientType=0 ); /* IE6-9 */ 
}
 
#t-header-container .home-search-container #header-top-search::before {
background: #f43029 !important; /* Old browsers */
background: -moz-linear-gradient(top,  #f43029 0%, #ce3723 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f43029), color-stop(100%,#ce3723)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f43029 0%,#ce3723 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f43029 0%,#ce3723 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f43029 0%,#ce3723 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #f43029 0%,#ce3723 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43029', endColorstr='#ce3723',GradientType=0 ); /* IE6-9 */ 
}
 
input.button-primary {
background: #f43029 !important; /* Old browsers */
background: -moz-linear-gradient(top,  #f43029 0%, #ce3723 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f43029), color-stop(100%,#ce3723)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f43029 0%,#ce3723 100%) !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f43029 0%,#ce3723 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f43029 0%,#ce3723 100%) !important; /* IE10+ */
background: linear-gradient(to bottom,  #f43029 0%,#ce3723 100%) !important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f43029', endColorstr='#ce3723',GradientType=0 ); /* IE6-9 */ 
 
border:1px solid #9b392b !important;
}
 
input.button-primary:hover {
background: #9b392b !important;
}

footer {
background: #5f1206 !important;
}

footer div.primary li a {
color: #fff !important;
text-shadow: none !important;
}

footer .ftr-cpright {
color: #fff !important;
}<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>red</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Galen Vinter">
	<!-- Date: 2013-01-03 -->
</head>
<body>

</body>
</html>
