body {
background: #f6f4ec;
}

header nav.main-nav, #main .placester_contact, aside .placester_contact .common-side-cont, header nav.main-nav ul li:hover, header nav.main-nav ul li:hover > ul {
background: #866d40 !important; 
}

nav.main-nav ul li.current_page_item > a {
background: #866d40 !important;
}

header nav.main-nav ul li:hover {
background: #a88952 !important;
}

a.primary-color, a.primary-color:visited, h1#site-title a {
color: #866d40 !important;
}

a.primary-color, a.primary-color:visited, h1#site-title a:hover {
color: #866d40 !important;
}

.login-container, .secondary-bg {
background: #63502f !important;
}

.login-container a, .secondary-bg a {
color: #f1f1f1 !important;
}

.login-container a:hover, .secondary-bg a:hover {
color: #fff !important;
}

.primary-bg {
background: #866d40 !important; 
}

input#search, .button-secondary, a.tertiary-bg {
background: #866d40 !important;
}

input#search:hover, .button-secondary:hover, a.tertiary-bg:hover {
background: #a88952 !important;
}

#home-slideshow-container .site-offer h1 span {
color: #866d40 !important;
}