body {
background: #f6f6f6;
}

a, a:visited, a:active {
color: #C01F2C;
}

header nav.main-nav, #main .placester_contact, aside .placester_contact .common-side-cont, header nav.main-nav ul li:hover, header nav.main-nav ul li:hover > ul {
background: #f1712c !important; 
}

nav.main-nav ul li.current_page_item > a {
background: #f1712c !important;
}

header nav.main-nav ul li:hover {
background: #f1712c !important;
}

a.primary-color, a.primary-color:visited, h1#site-title a {
color: #f1712c !important;
}

a.primary-color, a.primary-color:visited, h1#site-title a:hover {
color: #f1712c !important;
}

.login-container, .secondary-bg {
background: #3d3d3d !important;
}

.login-container a, .secondary-bg a {
color: #909090 !important;
}

.login-container a:hover, .secondary-bg a:hover {
color: #fff !important;
}

.primary-bg {
background: #5d5d5d !important; 
}

.orbit-wrapper, #slider, #slider img {
height: 500px !important;
}

input#search {
background: #f1712c !important;
}

#home-slideshow-container .site-offer h1 span {
color: #f1712c !important;
}

a.tertiary-bg {
background: #f1712c !important;
}