body {
background: #fffefe;
}

header nav.main-nav, #main .placester_contact, aside .placester_contact .common-side-cont, header nav.main-nav ul li:hover, header nav.main-nav ul li:hover > ul {
background: #e75640 !important; 
}

nav.main-nav ul li.current_page_item > a {
background: #9b392b !important;
}

header nav.main-nav ul li:hover {
background: #9b392b !important;
}

a.primary-color, a.primary-color:visited, h1#site-title a {
color: #e75640 !important;
}

a.primary-color, a.primary-color:visited, h1#site-title a:hover {
color: #e75640 !important;
}

.login-container, .secondary-bg {
background: #9b392b !important;
}

.login-container a, .secondary-bg a {
color: #fbfbfb !important;
}

.login-container a:hover, .secondary-bg a:hover {
color: #909090 !important;
}

.primary-bg {
background: #bd4634 !important; 
}

input#search, .button-secondary, a.tertiary-bg {
background: #e75640 !important;
}

input#search:hover, .button-secondary:hover, a.tertiary-bg:hover {
background: #9b392b !important;
}

#home-slideshow-container .site-offer h1 span {
color: #e75640 !important;
}