/* TEAL */
body, html {background: #f2f2f2 !important;}
header {background: #fff !important;}
#home-listings {background: #fff !important;}
header .main-nav a {color: #429392 !important;}
header .main-nav a:hover {background: #429392 !important; color: #fff !important;}
nav ul li:hover {background: #429392 !important; color: #fff;}
#banner, #home-banner {background: #429392 !important;}
.placester-logo h1 a {color: #429392 !important;}
input[class="btn-biggest"] {background: #fff;}
div[id="slideshow"] {background: #f2f2f2 !important;}
footer .links-header {color: #fff;}
footer p {color: #c8c8c8;}
footer a {color: #696969 !important;}
footer a:hover {color: #909090 !important;}