/* Black */
body {background: #474747;}
#top-bg {background: #6e6e6e; border-bottom: 1px solid #000;}
.agent-email a {color: #fff;}
.agent-email a:hover {color: #000;}
section {background: #fff; box-shadow: none;}
h3.section-title {color: #fff;}
#title h1 {color: #fff;}
#title h2 {color: #bfbfbf;}
#main h3 {color: #fff;}
#header-details {color: #fff;}