/* Brown */
body {background: #f6f6f6;}
#top-bg {background: #b88e52; border-bottom: 1px solid #976c2e;}
.agent-email a {color: #fff;}
.agent-email a:hover {color: #708c38;}
section {background: #fff; border-top: 10px solid #976c2e;}
h3.section-title {color: #fff;}
#title h2 {color: #bfbfbf;}
#main h3 {color: #000;}
footer {background: #b88e52; color: #000;}