/* Green */
body {background: #f6f6f6;}
#top-bg {background: #84a346; border-bottom: 1px solid #738e3d;}
.agent-email a {color: #fff;}
.agent-email a:hover {color: #708c38;}
section {background: #fff; border-top: 10px solid #738e3d;}
h3.section-title {color: #fff;}
#title h2 {color: #bfbfbf;}
#main h3 {color: #000;}
footer {background: #84a346; color: #000;}