/* Teal */
body {background: #f6f6f6;}
#top-bg {background: #52a19e; border-bottom: 1px solid #448c89;}
.agent-email a {color: #fff;}
.agent-email a:hover {color: #708c38;}
section {background: #fff; border-top: 10px solid #448c89;}
h3.section-title {color: #fff;}
#title h2 {color: #bfbfbf;}
#main h3 {color: #000;}
footer {background: #52a19e; color: #000;}