/* BLUE */
body {background: #edf1f4 !important;}
h1#site-title a {color: #1c4ead !important;}
.banner {background: #1c4ead !important;}
h3.section-title {color: #fff !important;}
#header-contact {background: #e1e6e9 !important;}
footer {background: #e1e6e9 !important;}