/* BROWN */
body {background: #f7f4eb !important;}
h1#site-title a {color: #866d40 !important;}
.banner {background: #866d40 !important;}
h3.section-title {color: #fff !important;}
footer {background: #eae7de !important;}
#header-contact {background: #eae7de !important;}