/* GREEN */
body {background: #eeefeb !important;}
h1#site-title a {color: #7ca034 !important;}
.banner {background: #7ca034 !important;}
h3.section-title {color: #fff !important;}
footer {background: #f7f8f4 !important;}
#header-contact {background: #f7f8f4 !important;}