/* TEAL */
h1#site-title a {color: #429392 !important;}
.banner {background: #429392 !important;}
h3.section-title {color: #fff !important;}
footer {background: #000 !important;}
#footer-nav li a {color: #fff !important;}
#footer-nav li a:hover {color: #909090 !important;}
footer p {color: #909090 !important;}