/* RED */

body {background: #f6f6f6;}
header h1 a:visited, header h1 a:link {color: #cd0a0a !important;}
header .primary, header .primary ul ul, header nav {background: #b00808 !important; border: 0px;}
header nav ul ul a {background: #b00808 !important;}
header nav ul ul a:hover {background: #cd0a0a !important;}
header nav ul ul li {border-bottom: 1px solid #860606;}
header nav ul li a {border-color: #860606; border-left: 1px solid #f61111;}

.orbit-wrapper .orbit-caption p.address {background: #cd0a0a !important; border-color: #cd0a0a;}
body.home #listing h3 {background: #cd0a0a !important; border-color: #860606;}

div.lu-right a.details, #search-widget input#search, aside section.placester_contact form[name="widget_contact"] input[type="submit"] {
border: 1px solid #b00808;
background: #d71212; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q3MTIxMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NjA2MDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #d71212 0%, #860606 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d71212), color-stop(100%,#860606)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d71212 0%,#860606 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d71212 0%,#860606 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d71212 0%,#860606 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d71212 0%,#860606 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d71212', endColorstr='#860606',GradientType=0 ); /* IE6-8 */
}

div.lu-right a.details:hover {
background: #860606; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg2MDYwNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNzEyMTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #860606 0%, #d71212 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#860606), color-stop(100%,#d71212)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #860606 0%,#d71212 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #860606 0%,#d71212 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #860606 0%,#d71212 100%); /* IE10+ */
background: linear-gradient(to bottom,  #860606 0%,#d71212 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#860606', endColorstr='#d71212',GradientType=0 ); /* IE6-8 */
}

div.lu-left p.price {opacity: 0.8; background: #000;}
aside section.placester_contact h3, .widget-pls-quick-search h3, .widget-pls-recent-posts h3, .widget-pls-agent h3, .widget-pls-listings h3 {
background: #cd0a0a !important;
border-color: #860606;
}

section.pls-listing-get_listings_widget div.featured-slot span {
color: #cd0a0a;
}